
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--taildwind-->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  
  <title>{{title}}</title>
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>

<body>

<main class="w-full h-full ">
    <div class="grid grid-cols-1 h-full ">

        <div class="">
            <form id="formularioLogin" class="space-y-4 mt-10 grid justify-center">
                <div>
                    <img src="img/logo.png" alt="logo" class="h-40 max-w-lg mx-auto">
                    <h2 class="text-center text-3xl text-bold">Login administrador</h2>
                </div>

                <div>
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-500">Rut vendedor</label>
                    <input type="text" name="rut" id="rut" class="w-full rounded-lg" required>
                </div>
                <div>
                    <label for=""
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-500">Contraseña</label>
                    <input type="password" name="password" id="password" class="w-full rounded-lg" required>
                    <div>   
                        <button type="submit"
                            class="text-white bg-emerald-400 m-10 hover:bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-3 md:mr-0 ">Iniciar
                            sesion</button>
                    </div>
                    <div>
                   <a href="/" class="block text-sm text-bold text-center">volver a inicio? </a>


                </div>
            </form>
        </div>
    </div>


</main>

<script src="/js/login-vendedor.js"></script>
</body>

</html>
