@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/*colores*/
* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* variables de colores  */
:root {
    --fondo: #f3f3f3;
    --aqua: #5292c6;
    --pronom: #4C4C4C;
    --cards: #d0d0d0;
    --des: #b0b0b0;
    --blanco: #ffffff;
    --plminto: #5f5f5f;
    --verde: #819d7d;
}

body {
    background-color: #f3f3f3 !important;
    
     /* background-image: linear-gradient(to top, #177E66 , #260020 );
     background-attachment : fixed; */

}

/* navbar */
.navbar {
    background-color: var(--blanco);

}

.navbar a {
    font-size: 1.1rem;
    margin: 0px 20px 0px 10px;
}

.navbar a:hover {
    color: var(--aqua);

}

/* fin navbar */

.container-1 {
    width: 1600px;
    margin: 0px auto;

}

.container-2 {
    padding: 2px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

    background-color: white;
}

.container-3 {
    width: 1600px;
    margin: 0px auto;
    margin-top: 20px;
}

/* buscar */
.container-4 {
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.container-4 .search {
    width: 99.5%;
    height: 30px;
    margin: 3px;
    border-radius: 20px;
    border: 1px var(--fondo) solid;
    outline: none;
    padding: 0px 0px 0px 30px;

}

.container-4 .search:hover {
    border: 1px var(--aqua) solid;
    outline: none;

}


/* fin buscar */
/* carrusel */

.car {
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1400px;

}

.car img {
    object-fit: cover;
    border-radius: 10px;
   width: 100%;
   height: 500px;
}

/* fin carrusel */


/* cards de productos */
.cards {
    width: 285px;
    height: 310px;
    border: 0.1px solid var(--fondo);
    border-radius: 10px;
    margin: 10px 20px 10px 10px;
}

.cards:hover {
    box-shadow: 4px 4px 15px 4px var(--cards);
}

.cards img {
    width: 100%;
    height: 165px;
    border-radius: 10px;
}

.cards h5,
p,
.buy {
    margin-left: 20px;
}

.cards .producto {
    color: var(--pronom);
    text-align: center;
}

.cards .descripcion {
    color: var(--des);
    font-size: 1rem;
}
.cards .precio{
    text-align: center;
}
.cards .info {
    display: flex;
    margin-top: 40px;
}

.buy {
    padding: 5px 15px 5px 15px;
    border: 1px solid #c6c6c6;
    color: #c6c6c6;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
}

.buy:hover {
    color: var(--aqua);
    border: 1px var(--aqua) solid;
    border-radius: 10px;
    font-weight: bold;

}

#details {
    padding: 5px 15px 5px 15px;
    border: 1px solid #c6c6c6;
    color: #c6c6c6;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
}

#details:hover {
    color: var(--verde);
    border: 1px var(--verde) solid;
    border-radius: 10px;
    font-weight: bold;

}

/* fin cards de productos */


/* footer */

footer {
    background-color: var(--blanco);
    margin-top: 20px;
    width: 100%;
}

footer ul,
li {
    list-style: none;
}

footer li {
    margin: 30px 0px 0px 0px;
}

footer img {
    float: right;
    display: block;
    width: 150px;
    height: 200px;
}

footer a {
    text-decoration: none;
    margin: 0px 40px 0px 50px;
    color: var(--plminto);
}
.eliminar{
    color: var(--des);
}
.eliminar:hover{
    color: #a21818;
}
/* fin footer */

