<div class="row row-cols-1  row-cols-md-2">
    <div class="col ">
        <img src="/img/{{publicacion.imagen}}" class="img-thumbnail" alt="..." style="width:100%">

    </div>
    <div class="col ">
        <h2 class="text-center my-2">{{publicacion.titulo}}</h2>
        <p class="my-2">{{publicacion.descripcion}}</p>
        <div class="row row-cols-2">
            <div class="col">
            <a href="" class="mx-2"><i class="fa-regular fa-heart"></i></a>
            <a href="" class="mx-2"><i class="fa-solid fa-thumbs-down"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 my-2 comentarios">
    <h2 class="text-center ">Ingresa un comentario</h2>
    <div class="col">
        <form id="formularioComentario">
            <div class="mb-3">
            <input type="hidden" name="id" id="id" value="{{publicacion.id}}">

                <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="tituloComentario" name="tituloComentario"
                    placeholder="titulo del comentario"  maxlength="30">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                <textarea class="form-control" id="comentario" name="comentario" rows="3" maxlength="200"></textarea>
            </div>
            <div class="mb-3">
            <button type="submit" class="btn btn-outline-success enviarComentario">Enviar comentario</button>
            </div>
        </form>
    </div>
</div>

<div class="row row-cols-1">
    <h2 class="text-center">comentarios</h2>
    {{>comentarios}}
</div>
<script src="/js/peticionComentario.js"></script>